{% extends 'base.html.twig' %}

{% block title 'Liste des recettes' %}
{% block body %}
    {% include '_fragment/_flash.html.twig' %}

    <div class="row mb-2">
        <div class="col">
            {% include '_fragment/_search_bar.html.twig' %}
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">
        {% for recipe in recipes %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        {% if is_granted('ROLE_USER') %}
                            <a  class="btn btn-sm btn-outline-danger float-end" 
                                href="{{ path('app_recipe_delete-confirmed', {'id': recipe.id}) }}"
                                data-action="alert#send"
                                {{ stimulus_controller('alert', {
                                    text: 'Voulez vous supprimer la recette %s ?'|format(recipe.name)
                                }) }}
                            >
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2 float-end" href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        {% endif %}
                        <h5 class="card-title text-pink">{{ recipe.name }}</h5>
                        <p class="card-text">
                            {% for tag in recipe.tags %}
                                <span class="badge rounded-pill bg-light text-dark">
                                    #{{ tag }}
                                </span>
                            {% endfor %}
                        </p>
                        {% if recipe.note is not null %}
                            <div class="card bg-dark mb-2">
                                <div class="card-body pb-2">
                                    <p class="text-light">{{ recipe.note }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <a class="card-link text-light" href="{{ recipe.url }}" target="_blank" rel="noopener noreferrer">
                            <u>Lien vers la recette</u>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="navigation">
                {% include '_fragment/_pagination.html.twig' with {
                    align: 'center',
                } %}
            </div>
        </div>
    </div>
{% endblock %}
